<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
                <div class="navbar-header" href="#">
                        {{#link-to 'index' class='navbar-brand'}}Embergram{{/link-to}}
                </div>
                <ul class="nav navbar-nav">
                    {{#if session.isAuthenticated}}
                        <li>{{#link-to 'feed'}}Feed{{/link-to}}</li>
                        <li>{{#link-to 'post.new'}}Post{{/link-to}}</li>
                        <li>{{#link-to 'message'}}Messages{{/link-to}}</li>
                        <li>{{#link-to 'profile'}}Profile{{/link-to}}</li>
                    {{/if}}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {{#unless session.isAuthenticated}}
                        <li><a href="#" {{action 'login' }}>Login</a></li>
                    {{else}}
                        <li><a href="#" {{action 'logout' }}>Logout</a></li>
                    {{/unless}}
                </ul>
        </div>
</nav>
<div class='container' id='main'>
{{outlet}}
</div>
