<div class = 'row main'>
    <div class='col-md-4'>
        <h1>Posts</h1>
            {{#each model as |post|}}
            <br>
            <h5>{{post.caption}}</h5>
            <img src={{post.imageURL}} style="width:304px;height:228px;">
            {{/each}}
    </div>

</div>
