<div class = 'row main'>
    <div class='col-md-4'>
        <h1>Messages</h1>
            {{#unless model}}
              <h4> No Messages</h4>
            {{/unless}}
            {{#each model as |message|}}
            <br>
            {{message.authorName}} says: {{message.message}}
            {{/each}}
    </div>

</div>
{{outlet}}
